.app {
  display: flex;
  flex-direction: column;
  background-color: #222;
  height: 60vw;
  width: 60vw;
  justify-content: center;
  align-self: center;
}

.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.app-title {
  color: white;
  font-size: 1.5em;
}

.board {
  display: flex;
  height: 90%;
  width: 90%;
  max-height: 90%;
  max-width: 90%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vh 10vw;
  border-style: solid;
  border-color: black;
  height: 30%;
  width: 30%;
  background-color: white;
}